<template name="info">

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <h2 class="page-header">Info</h2>


                <p>
                    Please refer to the readme of the related github project: <a href="https://github.com/boRp/diabetes-diary/blob/master/README.md">https://github.com/boRp/diabetes-diary/blob/master/README.md</a>
                </p>


                <h3>
                    <i class="mdi-action-android"></i>
                    Android app
                </h3>

                <p>
                    This is a browser test, normally this works best as android app.
                </p>

                <p>
                    Download: Debug-Version <a href="https://wbcrew.de/unaligned.apk" alt="download unaligned.apk" download>unaligned.apk (~6MB)</a>
                </p>
                <p>
                    Direct Link: <a href="https://wbcrew.de/unaligned.apk">https://wbcrew.de/unaligned.apk</a>
                </p>

            </div>
        </div>

    </div>

</template>