<template name="info">

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <h2 class="page-header">Info</h2>


                <p>
                    Dies ist bla...
                </p>

                <p>
                    Hauptsächlich soll die App jedem erlauben seine eigenen (medizinischen) Daten lokal zu verwalten, ohne dass diese irgendwo in der Cloud gespeichert werden oder ähnliches.<br/>
                    Zwar hat die App Zugang zum Internet für "hot code" deployments, aber es werden keinerlei Daten zum Server geschickt. Sie sind einzig und alleine im "local storage" eures Browsers/Telefons gespeichert (https://github.com/GroundMeteor/db)
                </p>


                <h3>
                    <i class="mdi-action-android"></i>
                    Android app
                </h3>

                <p>
                    Im Browser funktioniert zwar auch alles, aber eigentlich funktioniert die Seite als App am besten.
                </p>

                <p>
                    Download: Debug-Version <a href="https://wbcrew.de/unaligned.apk" alt="download unaligned.apk" download>unaligned.apk (~6MB)</a>
                </p>
                <p>
                    Direct Link: <a href="https://wbcrew.de/unaligned.apk">https://wbcrew.de/unaligned.apk</a>
                </p>

            </div>
        </div>

    </div>

</template>