<template name="header">

    <div class="templ-header">


        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
            <li style="color: #fff; line-height: 1.42857143; padding: 10px 15px;">
                <i class="mdi-action-invert-colors"></i>
                <strong>{{_ 'HEADER.TITLE'}}</strong>
            </li>

            <li>
                <a href="/">{{_ 'HEADER.ITEM.CHECKPOINT'}}</a>
            </li>
            <li>
                <a href="/graph">{{_ 'HEADER.ITEM.DIAGRAM'}}</a>
            </li>
            <li>
                <a href="/list">{{_ 'HEADER.ITEM.LIST'}}</a>
            </li>
            <li>
                <a href="/export">{{_ 'HEADER.ITEM.EXPORT'}}</a>
            </li>

        </ul>


    </div>

</template>
